@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Colores Principales */

    --AmarilloPrincipal: #FFD448;
    --RojoPrincipal: #FF6448;
    --AzulPrincipal: #48A7FF;
    --VerdePrincipal: #9EFF48;

    --Negro: #272727;
    --Gris: #BFBFBF;
    --FondoAmarillo: #FFFFDF;
    --AmarilloClaro: #FFE89C;
    --AzulClaro: #DFF4FF;
    --RojoClaro: #FFE3DF;
    --AzulOscuro: #367DBF;
    --RojoOscuro: #BF4B36;
    --AmarilloOscuro: #BF9F36;
    --VerdeOscuro: #88DB3E;

    --borderRadius: 14px;
}

*{
    box-sizing: border-box;
    margin : 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 80%;
}

body{
    background-color: var(--FondoAmarillo);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

header{
    width: 100vw;
    height: 20vh;
    background-color: var(--AmarilloPrincipal);
    margin-bottom: 5vh;
    box-shadow: 0 16px 0 var(--AmarilloOscuro);
    display: flex;
    justify-content: center;
}

#headerDiv{

    p{
        font-size: 2rem;
        font-weight: 1000;
        color: white;
        text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    }

    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        height: 100%;
        width: auto;
    }
}

footer{
    width: 100vw;
    height: 10vh;
    background-color: var(--AmarilloPrincipal);
    box-shadow: 0 -16px 0 var(--AmarilloClaro);
    display: flex;
    justify-content: center;
}

.sectionJuegos{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5vh;
}

#juegosSelect{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-bottom: 2vh;

    button{
        width: 20%;
        height: 100px;
    }
}

#selectModo{
    margin-bottom: 4vh;
    display: flex;
    justify-content: center;
}

button{
  background-color: var(--RojoPrincipal);
  color: white;
  font-weight: 1000;
  font-size: 1.3rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: var(--borderRadius);
  cursor: pointer;
  box-shadow: 0 8px 0 var(--RojoOscuro);
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);

  transition: transform 0.1s ease, box-shadow 0.1s ease;

  margin: 0.5rem;
}

button:active {
  transform: translateY(4px);
  box-shadow: 0 4px 0 var(--RojoOscuro);
}

#J1{
    background-color: var(--AmarilloPrincipal);
    box-shadow: 0 8px 0 var(--AmarilloOscuro);
}

#J1:active {
    box-shadow: 0 4px 0 var(--AmarilloOscuro);
}

#J2{
    background-color: var(--AzulPrincipal);
    box-shadow: 0 8px 0 var(--AzulOscuro);
}

#J2:active {
    box-shadow: 0 4px 0 var(--AzulOscuro);
}

#J3{
    background-color: var(--RojoPrincipal);
    box-shadow: 0 8px 0 var(--RojoOscuro);
}

#J3:active {
    box-shadow: 0 4px 0 var(--RojoOscuro);
}

#J4{
    background-color: var(--VerdePrincipal);
    box-shadow: 0 8px 0 var(--VerdeOscuro);
}

#J4:active {
    box-shadow: 0 4px 0 var(--VerdeOscuro);
}

#modoSingleButton{
    background-color: var(--AzulPrincipal);
    box-shadow: 0 8px 0 var(--AzulOscuro);
}

#modoSingleButton:active{
    box-shadow: 0 4px 0 var(--AzulOscuro);
}

.boxJuego{
    display: flex;
    width: 100%;
    color: var(--Negro);
    justify-content: center;
    gap: 1rem;
}

.moduloPais{
    background-color: var(--AmarilloPrincipal);
    width: 50%;
    border-radius: 28px;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    gap: 1rem;
    box-shadow: 0 12px 0 var(--AmarilloOscuro);
    border: solid 5px var(--AmarilloOscuro);

    img{
        border-radius: var(--borderRadius);
        box-shadow: 0 -12px 0 var(--AmarilloOscuro);
        max-width: 100%;
    }

    h3{
        font-size: 2rem;
    }
}

.boxTitulo{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

#selectPais, .moduloPais select{
    appearance: none;  
    width: 100%;
    background: white;
    color: var(--Negro);    

    font-weight: 1000;
    font-size: 1.5rem;  

    padding: 1rem 4rem 1rem 2rem;
    border: none;
    border-radius: var(--borderRadius); 
    box-shadow: 0 6px 0 var(--Gris);

    outline: none;
    cursor: pointer;    

    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 24 24' fill='none' stroke='%236b6b6b' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'/></svg>");
    background-repeat: no-repeat;
    background-position: right 18px center;
    background-size: 40px 40px;
}

input, option, li{
    background: white;
    color: var(--Negro);    

    font-weight: 800;
    font-size: 1.5rem;  

    padding: 1rem 4rem 1rem 2rem;
    border: none;
    border-radius: var(--borderRadius); 
    box-shadow: 0 6px 0 var(--Gris);

    outline: none;
}

li {
    display: flex;
    justify-content: space-between;
}

ol {
    gap: 3vh;
    display: flex;
    flex-direction: column;
}

.infoModulo{

    background-color: white;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 12px 0 var(--Gris);
    border: solid 5px var(--Gris);

    width: 50%;
    padding: 4rem;

    p{
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

    h3{
        font-size: 30px;
    }

    span{
        font-weight: bold;
    }
}

#seccionJuego2{
    display: flex;
    flex-direction: column;
    width: 100;
    gap: 2rem;
}

#moduloPaisesJ2{
    display: flex;
    width: 100%;
    gap: 1rem;
}

#moduloPaisJ2{
    width: 50%;
}

#infoModuloJ2{
    width: 100%;
}

#moduloPaisJ3{
    width: 100%;
}

#moduloPaisesJ3{
    display: flex;
    width: 50%;
    gap: 1rem;
}

#seccionJuego4{
    display: flex;
    flex-direction: column;
    width: 100;
    gap: 2rem;
}

#moduloPaisesJ4{
    display: flex;
    width: 100%;
    gap: 1rem;
}

#moduloPaisJ4{
    width: 50%;
}

#infoModuloJ4{
    width: 100%;
}

#seccionJuego5{
    display: flex;
    flex-direction: column;
    width: 100;
    gap: 2rem;
}

#moduloPaisesJ5{
    display: flex;
    width: 100%;
    gap: 1rem;
}

#moduloPaisJ5{
    width: 50%;
}

#infoModuloJ5{
    width: 100%;
}

#leaderboard{
    width: 60%;
    background-color: var(--AzulClaro);
    padding: 2rem;
    border-radius: var(--borderRadius);
    box-shadow: 0 12px 0 var(--AzulOscuro);
    border: solid 5px var(--AzulOscuro);
    margin-bottom: 5vh;

    h2{
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        color: var
}}
#butterRoyaleJuego{
    margin-top: 3vh;
    text-align: center;
    width: 100%;
    background-color: var(--AmarilloClaro);
    padding: 2rem;
    border-radius: var(--borderRadius);
    box-shadow: 0 12px 0 var(--AmarilloPrincipal);
    border: solid 5px var(--AmarilloPrincipal);
    margin-bottom: 5vh;
}

#butterRoyaleJuego h2{
    font-size: 2rem;
    margin-bottom: 2vh;
}


#separadorOpciones{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#separadorOpciones button{
    width: 100%;
    height: 15vh;
    box-shadow: 0 12px 0 var(--AmarilloOscuro);
    background-color: var(--AmarilloPrincipal);
    color: #272727;
}

#scoreTemporal p {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--FondoAmarillo);
    background-color: var(--RojoOscuro);
}


#popUpUsuario {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--AmarilloClaro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 2rem;
    border-radius: var(--borderRadius);
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#popUpAlert {
    position: fixed;
    top: 40%;
    left: 50%;
    width: 40vw;
    transform: translate(-50%, 0);
    background-color: var(--RojoPrincipal);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 1rem 2rem;
    border-radius: var(--borderRadius);
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    text-align: center;
    font-size: 1.2rem;
}

#cerrarPopUp{
    background-color: white;
    color: black;
}

@media (max-width: 1200px) {


#juegosSelect{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    button{
        font-size: 1.2rem;
        width: 30%;
    }
    
}

.moduloPais{
    width: 100%;
}

.infoModulo{
    width: 100%;
}

.boxJuego{
    flex-direction: column;
}
}

@media (max-width: 768px) {


#juegosSelect{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    
    button{
        font-size: 1.2rem;
        width: 45%;
    }
    
}

.moduloPais{
    width: 100%;
}

.infoModulo{
    width: 100%;
}

.boxJuego{
    flex-direction: column;
}
}